@CHARSET "UTF-8";


html, body {
    height: 100%; /* IMPORTANT!!! stretches viewport to 100% */
    min-height: 100%;
	background:#d1dff9 !important;
}

a { color:#3577a2; text-decoration:none }
a:hover{ text-decoration: hover !important} 


.panel_title
{
	font-weight: bold;
}

.label_font{
	font-family: arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #636363;
}

.label_bold
{
	font-weight: bold;
}

.label_big
{
font-family:arial;
font-size:14px;
font-weight: bold;
}

.mymenu .z-menubar-hor .z-menu-item-btn { 
font-weight:bold;
color:red;
border:solid 1px red;
}

.hightlight { 
	color: #1469AB; font-weight: bold; 
}

.warning_bold {
	color: gold;
	font-weight: bold;
}

.error {
	color: red; 
}

.error_bold {
	color: red;
	font-weight:bold; 
}

.chooseItem {background:lightpink !important};

.long_content { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
   color: red;
   font-weight: bold;
   width:400px; 
}

.thHtmlTabFont
	{
	color:white;
	font: normal 12px/150% Arial, Helvetica, sans-serif;
	font-weight: bold;
	}
.titleHtmlPageFont{
	font-family:Arial, Helvetica, sans-serif;
}

.datagrid th a{
	color:white;
	font: normal 12px/150% Arial, Helvetica, sans-serif;
	font-weight: bold;
}



/* CH 2.0 STYLE */
div.z-grid, .z-hbox		{ width:100% !important}
div.z-grid {background:#EAEAEA;background-image:none !important}
.z-window-embedded-tl, .z-panel-tl   { display:none !important } 
.z-window-embedded-cm, .z-window-overlapped-cm { border: 0 !important } /*Remove border*/

/*Login Page*/
.login_page .z-center			{ top:0 !important }
.z-borderlayout, .z-window-embedded-cl, .z-window-embedded-cr, .z-window-embedded-cnt		{ background:#d1dff9 }
.login_page .z-groupbox-3d		{ width:423px !important ; margin:0 auto} /*Login form width*/
.login_page .z-groupbox-3d-header:nth-child(1)				{ padding:15px 5px !important; background:#336edb !important}
.login_page .z-groupbox-3d-header				{ padding:15px 5px !important; background:#336edb !important} /*IE*/

.login_page .z-caption-l		{ font-size:16px !important; text-align:center; color:#fff; font-weight:normal }
.login_page div.z-grid			{ border:0; background:0 }
.login_page .z-groupbox-3d-cnt { background:#fff !important; border-bottom:0 !important}
.login_page .z-row-over .z-row-inner{ background-image:none !important; border:0 !important} /*Removes highlights from login and password fields*/
.login_page .z-row-inner 		{ border:0 !important } 
.login_page .z-separator-hor	{ display:none }
.login_page .z-groupbox-3d		{ height:auto !important; margin:0 auto } 

.login_page .z-textbox			{ border-radius:0 !important; padding:10px; border:1px solid #b6b6b6; width:84% !important; font-size:14px; color:#888 }
.login_page .z-groupbox-3d-cnt	{ height:auto !important;padding:15px 0 20px } 

.login_page .z-grid-body	{ width:100% !important }
.login_page .z-grid-body table tbody tr td:nth-child(1) {width:120px;}
.login_page .z-grid-body table tbody tr td {width:120px;} /*IE*/

.login_page .z-button		{ display:block; background:#a6c4fd; padding:10px 0; width:89% !important; margin:10px auto 0; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px } /*Login button styling*/
.login_page .z-button:hover		{ background:#8badec }

.login_page .z-button .z-button-cm	{ background: none !important; display:block; background:#a6c4fd; padding:0; margin:0 auto; font-weight:bold;font-size:14px }
.login_page .z-button-cl, .z-button-cr, .z-button-tl, .z-button-tm, .z-button-tr, .z-button-bl, .z-button-br, .z-button-bm	{ display:none }

.login_page .z-groupbox-3d-cnt.z-groupbox-3d-notitle		{ background:#cdcdcd !important; color:#4f4f4f } /*System status messages*/
.less_emph_title			{ text-indent:15px; background: none !important; font-size:14px !important;font-weight:bold; color:#4f4f4f; width:100%; margin-bottom:7px; text-align:left; display:block }
.z-vlayout .z-label 			{ text-indent:15px; display: block; font-size:11px } 
 
.z-row-cnt .z-hbox table:nth-child(1)		{ width:100% } 
.z-window-embedded-cm, .z-window-overlapped-cm	{ border:0 }

.z-window-embedded-tl, .z-window-embedded-bl	{ display: none} 
.z-window-embedded			{ background:#d1dff9 }


/*Logout*/
.log_out .z-label				{ font-size:16px !important;margin:30px auto 0; text-indent:0 !important; text-align:center }
.log_out .z-groupbox-3d, .log_out .z-groupbox-3d table			{ width:100% !important,background-color:#fff}  
.log_out .z-vlayout-inner:nth-child(2){ background:#fff; height:140px; border:#ccc 1px solid }
.log_out .z-groupbox-3d			{ height:300px !important}
.log_out .z-button .z-button-cm	{ display:inline-block; background:#a6c4fd; padding:11px 120px; margin:0 0 0 0px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px } /*Search button styling*/
.log_out .z-hbox					{ height: 60px !important}
.log_out .z-hbox	 table tr			{ vertical-align: top !important }


/*Access denied*/
.access_denied .z-panel-body					{ background:white; padding:0 20px 20px; border:1px #ccc solid }
.access_denied .z-button .z-button-cm		{ margin:10px 30px 0 32px;padding:10px 40px }

/*Change pssword*/
.chg_pass .z-groupbox-3d			{ width:100% !important }
.chg_pass .z-center			{ top:0 !important }
.chg_pass .z-groupbox-3d		{ width:423px !important ; margin:0 auto} /*Login form width*/
.chg_pass .z-groupbox-3d-header				{ padding:15px 5px !important; background:#336edb !important}
.chg_pass .z-caption-l		{ font-size:16px !important; text-align:center; color:#fff; font-weight:normal }
.chg_pass div.z-grid			{ border:0; background:0 }
.chg_pass .z-groupbox-3d-cnt { background:#fff !important; border-bottom:0 !important}
.chg_pass .z-row-over .z-row-inner{ background-image:none !important; border:0 !important} /*Removes highlights from login and password fields*/
.chg_pass .z-row-inner 		{ border:0 !important } 
.chg_pass .z-separator-hor	{ display:none }
.chg_pass .z-groupbox-3d		{ height:auto !important; margin:0 auto } 
.chg_pass .z-textbox			{ border-radius:0 !important; padding:10px; border:1px solid #b6b6b6; width:84% !important; font-size:14px; color:#888 }
.chg_pass .z-groupbox-3d-cnt	{ height:auto !important;padding:15px 0 20px } 

.chg_pass .z-grid-body	{ width:100% !important }
.chg_pass .z-grid-body table tbody tr td:nth-child(1) {width:120px;}

.chg_pass .z-button		{ display:inline-block; background:#a6c4fd; padding:10px 54px; margin:10px 7px 0; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px } /*Login button styling*/
.chg_pass  .z-button:hover		{ background:#8badec }

.chg_pass #pbCancel			{ background:#aaa !important}
 
.chg_pass .z-button .z-button-cm	{ background: none !important; display:block; background:#a6c4fd; padding:0; margin:0;  }
.chg_pass .z-button-cl, .z-button-cr, .z-button-tl, .z-button-tm, .z-button-tr, .z-button-bl, .z-button-br, .z-button-bm	{ display:none }

.chg_pass .z-label			{ display:block;text-indent:21px;font-size:16px; color:#999; line-height:35px}


/*Top navigation*/
.z-menubar-hor, .z-menubar-ver		{ background:none !important; border:0 !important; color:#fff !important; } /*remove background images and containing borders */
.z-menu-inner-m .z-menu-btn	{ color:#c0d3f7 !important; font-size:14px !important }
.z-caption-r .z-menu-inner-m .z-menu-btn	{ color:black !important; font-size:14px !important }
.z-caption-r .z-menu-inner-m .z-menu-btn:HOVER	{ color:black !important; font-size:14px !important }
.z-menubar-hor .z-menu td	{ color:#c0d3f7 !important; font-size:14px !important }
.z-menu-inner-m .z-menu-btn:hover, .z-menuitem-inner-m .z-menuitem-btn:hover, .z-menu-body.z-menu-body-over, .z-menu-body-over .z-menu-inner-m .z-menu-btn, .z-menuitem-body-over .z-menuitem-inner-m .z-menu-btn
 { color:#fff !important } /*removes all colours apart from new styles for the hover*/

 .z-menuitem-inner-m div, .z-menuitem-inner-m button, .z-menubar-hor div	{ color:#c0d3f7 !important; font-size:14px !important }
.z-menuitem-inner-m div:hover, .z-menuitem-inner-m button:hover, .z-menubar-hor div:hover	{ color:#fff !important }
 
 .z-menuitem-body-over				{ background: none !important }
.z-north.z-north-noborder    { background:#336edb; padding:6px 0; font-size:16px} 
.z-menuitem-inner-l, .z-menuitem-inner-m,.z-menuitem-inner-r, .z-menu-inner-l, .z-menu-inner-m,.z-menu-inner-r	{ background:none !important }
.z-menubar-hor .z-menuseparator, .z-panel-br		{ background:none !important }
.z-panel-bl					{ display:none !important }

.z-menu-body .z-menu-inner-m div, .z-menubar-hor .z-menu-body-clk .z-menu-inner-m div	{ background:url(../img/btn-arrow-blue.gif) no-repeat scroll right -16px transparent }
.z-menubar-hor .z-menu-body-over .z-menu-inner-m div { background:url(../img/btn-arrow.gif) no-repeat scroll right -14px transparent !important } /*Image replacement for the arrows in drop downs*/

/*Common styles*/
/*.z-cell	.mymenu	{ display:none }/*Hides the user and environment details at the top*/
.z-center			{ position: absolute; top:39px !important } /*Pushes the main body since it's absolute positioned*/
.z-panel-cl, .z-panel-hl, .z-panel-hm, .z-panel-hr, .z-panel-cm, .z-panel-cr, .z-panel-cl			{ background: none; border:0 } 

.z-separator-ver, .z-separator-ver-bar, .z-window-embedded-bl { display:none}
.z-caption-l		{ font-size:18px !important; font-weight:normal; } 
.z-panel-hm .z-panel-header, .z-panel-header { padding:5px 0 7px }

.z-groupbox-3d-cnt	 { border:0; padding:0px 5px 3px }
.z-textbox			 { border-radius:0 !important; padding:3px 10px; border:1px solid #b6b6b6; font-size:14px; color:#888 }

.z-button-cl		{ display: none } /*Hides huge bar above the listings*/
.z-button .z-button-cm	{ display:block; background:#a6c4fd; padding:5px 20px; margin:10px 30px 0 10px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px } /*Search button styling*/
.z-button .z-button-cm:hover		{ background:#8badec }

.datagrid table thead th, .audit_panel .z-column .z-column-cnt	{ background: #465e7f !important } 
.datagrid table thead th a 	{ text-decoration: none; font-size:12px !important } 
.datagrid				{ border:0 !important; border-radius: 0 !important}

.z-listheader { background: #465e7f !important;background-image:none !important }
.z-listheader-cnt
{
	color:white !important;
	font: normal 12px/150% Arial, Helvetica, sans-serif !important;
	font-weight: bold !important;	
}




.z-groupbox-3d-hl,.z-groupbox-3d-header{
	 background:#eaeaea;
}

.z-listbox-faker{
	background:#eaeaea;
}

.z-caption-l {
font-size: 12px !important;
font-weight: bold;
}
.z-groupbox-3d-hm {
background: #eaeaea;
overflow: hidden;
border: 1px solid #c5c5c5;
zoom: 1;
cursor: pointer;
}


/*Tour Match*/
.tour_match .z-groupbox-3d		{ position:fixed; background:transparent;padding-bottom:10px; margin:18px 0 0;width:auto !important; position:relative; top:0; bottom: 0 }
.tour_match .z-html	.datagrid	{ margin-top:0px !important} 
.tour_match .z-button .z-button-cm	{margin: 0px 0px 0px 0px;}

.tour_match .z-combobox-rounded .z-combobox-rounded-btn	{ margin-top:0}
.tour_match .z-label		{ vertical-align:top;display:block; padding:0 10px 0 15px; display:inline-block;line-height:26px }
.tour_match  .z-window-embedded-cnt { overflow-y: scroll !important} /*overflow on the inner container*/

.access_denied .z-panel-cl .z-panelchildren	{ height:auto }
.z-panel-cl .z-panelchildren		{ border: 0 ; overflow-y:scroll; height:600px}
.audit_panel .z-vlayout .z-label , .scheduler  .z-vlayout .z-label, .messages .z-vlayout .z-label
 {text-indent:0px !important; font-size:12px}

.z-a				{ color:#406090; text-decoration: none }
.z-a:hover			{ text-decoration:underline }

/*Hide*/
/*Admin Audit page*/
.z-column-sort-img				{ position:relative; top:10px } 
.audit_panel .z-panel-cl .z-panelchildren	{ background: none !important }
 
.audit_panel div.z-grid-header th.z-column, div.z-grid-header th.z-auxheader	{ padding:0; }
.audit_font{font: normal 12px/150% Arial, Helvetica, sans-serif !important;}
 
 /*Headers*/
 
.audit_panel .datagrid table thead th, .audit_panel .z-column .z-column-cnt,
.upload_tour  .datagrid table thead th, .upload_tour .z-column .z-column-cnt
 {  width:100% !important; color:#fff; }
 
.audit_panel .z-column .z-column-cnt span,
.upload_tour .z-column .z-column-cnt span,
.scheduler .z-column .z-column-cnt span,
.tour_fix .z-column .z-column-cnt span

 { font-weight:bold !important; font-size:12px !important }
 
.upload_tour .z-column.z-column-sort, .z-column-cnt 
{ background: #465e7f !important; color:#fff !important; font-weight: bold !important }

.upload_tour div.z-grid-header th.z-column, .upload_tour div.z-grid-header th.z-auxheader,
.scheduler div.z-grid-header th.z-column, .scheduler div.z-grid-header th.z-auxheader,
.users_view div.z-grid-header th.z-column, .scheduler div.z-grid-header th.z-auxheader,
.messages div.z-grid-header th.z-column, .scheduler div.z-grid-header th.z-auxheader,
.tour_fix div.z-grid-header th.z-column, .scheduler div.z-grid-header th.z-auxheader
{ padding:0 !important } 
 
.upload_tour tr.z-auxhead th.z-auxheader,
.scheduler tr.z-auxhead th.z-auxheader,
.messages  tr.z-auxhead th.z-auxheader,
.users_view  tr.z-auxhead th.z-auxheader,
.tour_fix  tr.z-auxhead th.z-auxheader  
{ background:#eaeaea} /*light background area*/

/*User view */
.users_view 	.z-button .z-button-cm	{ margin:0 15px 0 0 !important }
.users_view .z-groupbox-3d-cnt{border: 0;padding: 0px 0px 3px;}
 
/*Scheduler*/
.scheduler .z-button .z-button-cm { margin:10px 30px 7px 10px} 
.scheduler .z-grid-header{background-image: none !important}



/*Tour repository*/
.tour_fix .z-button .z-button-cm	{ margin-top:0 } 

/*Users*/
.users_view  .z-button .z-button-cm		{ margin:0 30px 0 10px} 

/*Upload*/
.upload_tour .z-button .z-button-cm	{ display:block; background:#a6c4fd; padding:5px 20px; margin:10px 30px 0 10px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px } /*Search button styling*/
.upload_tour .z-button .z-button-cm:hover		{ background:#8badec }
.upload_tour  .z-groupbox-3d				{ height:37px; border-bottom:1px solid #ccc} 


.z-tabs .z-tabs-cnt			{ width:98%; margin:0 auto }
.z-tabs-header .z-tab-hl		{ background: none !important; padding:0 !important} 
.z-tabs-header .z-tab-hr		{ background: none !important;margin:0;padding-right:2px } 
.z-tabs-header .z-tab-hm		{ background: #7caaff !important;padding:5px; color:#fff !important;margin-top:2px;margin-left:0; border-left:1px solid #336edb;border-top:1px solid #336edb;border-right:1px solid #336edb;} /*Inactive button*/
.z-tabs-header .z-tab-hm	 span	{ color:#fff; font-weight:bold  }

.z-tabs-header .z-tab.z-tab-seld .z-tab-hm	{ background:none !important; margin:2px 0 0;height:23px;border-left:1px solid #336edb;border-top:1px solid #336edb;border-right:1px solid #336edb; border-bottom:1px solid #d1dff9 !important }
.z-tabs .z-tabs-cnt			{ border-bottom:1px solid #336edb;padding-left:11px} 
.z-tabs-header .z-tab.z-tab-seld .z-tab-hm  span{color:#336edb !important}

/*Invalid Session*/
.invalid_session .z-panel-cl .z-panelchildren	{ height:auto; width:500px } 
.invalid_session label.error						{ font-family:"Arial"; font-size:16px; margin:0; display:block;width:100%; text-align:center}
.invalid_session .z-button .z-button-cm { margin:10px 20px 0 17px }


/*error panel*/
.error_panel .z-panel-cl .z-panelchildren	{ height:auto; } 
.error_panel label.error					{ font-family:"Arial"; font-size:16px; margin:0; display:block;width:100%; text-align:center}
.error_panel .z-button .z-button-cm { margin:10px 20px 0 17px }

/*Top Menu*/
.top_menu .z-label			{ color:#89c1e5 !important}

/*file collect*/
.file_colect .z-groupbox-3d-cnt{border: 0;padding: 0px 0px 3px;}

/*job details*/
.job_details .z-groupbox-3d-cnt{border: 0;padding: 0px 0px 3px;}
.job_details .z-grid {background:#EEEEEE;background-image:none !important}
