<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
    
    	<!-- <property name="javax.persistence.sharedCache.mode">ENABLE_SELECTIVE</property>
    	<property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property> -->
    
    
        <mapping class="com.ttc.ch2.domain.common.EntityBase" />    
        <mapping class="com.ttc.ch2.domain.SellingCompany" />
        <mapping class="com.ttc.ch2.domain.Function" />
        <mapping class="com.ttc.ch2.domain.Ch2ConfigValue" />
        <mapping class="com.ttc.ch2.domain.Brand" />
        <mapping class="com.ttc.ch2.domain.BrandLock" />
        <mapping class="com.ttc.ch2.domain.RecReportData" />
        <mapping class="com.ttc.ch2.domain.user.User" />
        <mapping class="com.ttc.ch2.domain.user.UserCCAPI" />
        <mapping class="com.ttc.ch2.domain.user.UserGui" />
        <mapping class="com.ttc.ch2.domain.jobs.QuartzJob" />
        <mapping class="com.ttc.ch2.domain.jobs.QuartzJobHistory" />
        <mapping class="com.ttc.ch2.domain.export.CRExport" />
        <mapping class="com.ttc.ch2.domain.comment.Comment" />
        <mapping class="com.ttc.ch2.domain.comment.TIComment" />
        <mapping class="com.ttc.ch2.domain.comment.TDComment" />
        <mapping class="com.ttc.ch2.domain.comment.QHComment" />
        <mapping class="com.ttc.ch2.domain.comment.CREComment" />
        <mapping class="com.ttc.ch2.domain.messages.EmailAddress" />
        <mapping class="com.ttc.ch2.domain.messages.EmailHistory" />
        <mapping class="com.ttc.ch2.domain.tour.XMLContentRepository" />
        <mapping class="com.ttc.ch2.domain.tour.ContentRepository" />
        <mapping class="com.ttc.ch2.domain.departure.TourDepartureHistory" />
        <mapping class="com.ttc.ch2.domain.upload.UploadTourInfoFile" />
        <mapping class="com.ttc.ch2.domain.auth.Authority" />
        <mapping class="com.ttc.ch2.domain.auth.Group" />
        <mapping class="com.ttc.ch2.domain.auth.GroupAuthority" />
        <mapping class="com.ttc.ch2.domain.auth.CCAPIAuthority" />        

        <mapping class="com.ttc.ch2.domain.upload.UploadStatus" />
        <mapping class="com.ttc.ch2.domain.departure.ImportStatus" />        
        <mapping class="com.ttc.ch2.domain.filecollect.ZIPFileCollect" />
        <mapping class="com.ttc.ch2.domain.filecollect.FileCollect" />
        <mapping class="com.ttc.ch2.domain.transfer.TourInfoTransfer" />
        <mapping class="com.ttc.ch2.domain.TIBlobData" />
    
    	              
    </session-factory>
    
    
</hibernate-configuration>
