
body
{
font-size:12px;
color:#000000;
background-color:#ffffff;
margin:10px;
overflow:auto;
background-repeat:repeat-x;
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input
{
font-family:verdana,helvetica,arial,sans-serif;
}

h1 {font-size:200%;color:#520A87;margin-top:0px;font-weight:normal }
h2 {font-size:16px;color:#520A87;background-color:#CCCCFF;border:1px solid #520A87;padding:3px;vertical-align:top;}	
h3 {font-size:120%;color:#520A87;font-weight:bold }
h4 {font-size:100%;color:#520A87;font-weight:normal}
h5 {font-size:90%;color:#520A87;font-weight:normal}
h6 {font-size:80%;color:#520A87;font-weight:normal}


h1,h3,h4,h5,h6
{
background-color:transparent;
}

div {width:100%;}

table,th,td,input,textarea
{
font-size:100%;
}

/********************************************/

.maindiv{
	border:1px solid #520A87;
}

.text_header{
font-size:16px;
padding:3px;
vertical-align:top;
}

.text_normal{
font-size:12px;
color:#520A87;
}

h2.version2 {font-size:16px;color:#000000;background-color:#e5eecc;border:1px solid #c3c3c3;padding:3px;vertical-align:top;}
h3.version2 {font-size:120%;color:#000000;font-weight:bold }
/********************************************/



table.data_border th
{
border:1px solid;
padding:3px;
vertical-align:top;
}

table.data_border td 
{
border:1px solid;
padding:3px;
vertical-align:top;
}

table.data_border
{
border:1px solid;
}
/***********************/
table.data
{
border:0;
}

table.data th
{
border:0;
padding:3px;
vertical-align:top;
}

table.data td 
{
border:0;
padding:3px;
vertical-align:top;
}

/********************************************/

table.reference
{
border:1px solid #c3c3c3;
border-collapse:collapse;
}

table.reference th
{
background-color:#e5eecc;
border:1px solid #c3c3c3;
padding:3px;
vertical-align:top;
}

table.reference td 
{
border:1px solid #c3c3c3;
padding:3px;
vertical-align:top;
}

/********************************************/

table.reference2
{
border:1px solid #520A87;
border-collapse:collapse;
}

table.reference2 th
{
background-color:#CCCCFF;
border:1px solid #520A87;
padding:3px;
vertical-align:top;
}

table.reference2 td 
{
border:1px solid #520A87;
padding:3px;
vertical-align:top;
}
/********************************************/

	

/*
a:link { color:#520A87; }
a:vlink { color:#520A87; }
a:alink { color:#520A87; }
a:hover { color:#520A87; }
*/	